.container {
    display:flex;
    flex-direction: column;
    text-align: center;
    flex: 1 auto;
    text-rendering: optimizeLegibility;
}

// CODE block
code:not([data-lang]) {
  background-color: #002b36;
  color: #2aa198;
  border-radius: 0.25rem;
}

// make Code generated blocks scroll when they surpass the boundaries
.highlight > pre {
  overflow: scroll;
}