// In-line svgs
.inline-svg {
  display: inline-block;
  svg {
    width: 2em;
    height: 2em;
    display: inline-block;
  }
}

#content_wrapper {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  // Padding to the left and right side:
  padding: 0% 10% 0% 10%;
}