// In-line svgs
.inline-svg {
  display: inline-block;
  svg {
    width: 2em;
    height: 2em;
    display: inline-block;
  }
}

#content_wrapper {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0% 10% 0% 10%;
}

#content_wrapper blockquote p {
  font-style: italic;
}

#content_wrapper a:hover {
  color: rgb(219, 210, 36);
  border-bottom: #8e8e8e 0.15rem dashed;
}

#content_wrapper a {
  color: #fff;
  transition: all .15s;
  font-weight: bold;
  text-decoration: none;
}

.post a {
  border-bottom: #8e8e8e 0.15rem dashed;

}