.container {
    display:flex;
    flex-direction: column;
    text-align: center;
    flex: 1 auto;
    text-rendering: optimizeLegibility;
}

// CODE block
code {
  background-color: black;
  color: yellow;
  border-radius: 0.25rem;
}

// make Code generated blocks scroll when they surpass the boundaries
.highlight > pre {
  overflow: scroll;
}