// In-line svgs
.inline-svg {
  display: inline-block;
  svg {
    width: 2em;
    height: 2em;
    display: inline-block;
  }
}

#content_wrapper blockquote {
  border-left: 0.25rem solid #ccc; 
  padding-left: 1rem;
  font-style: italic;
}

#content_wrapper a:hover {
  color: rgb(219, 210, 36);
  border-bottom: #8e8e8e 0.15rem dashed;
}

#content_wrapper a {
  color: #fff;
  transition: all .15s;
  font-weight: bold;
  text-decoration: none;
}

.post a {
  border-bottom: #8e8e8e 0.15rem dashed;
}

#content_wrapper strong {
  text-decoration: underline;
}