header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding: 1.5rem;
    text-rendering: optimizeLegibility;
    //padding: 2em;
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 900px;
    max-width: 100%;
}
  