// // Menu
.menu {
  display: flex;
}

// Decorators:
.menu .is-active {
  color: white;
}

.menu a, a:visited, a:active {
    color: inherit;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0 0.5rem;
}

.menu a {
  text-decoration: none;
}

//underline animation
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #8e8e8e;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #8e8e8e;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}