#content-wrapper a:hover {
    color: #fd3519;
    text-decoration: none;
    border-bottom: #8494a4 1px dashed;
    padding-bottom: 1px;
}

#content-wrapper a {
    color: #f8f8f8;
    font-weight: bold;
    text-decoration: none;
    border-bottom: #8494a4 1px dashed;
    padding-bottom: 1px;
}

// main block 
#content-wrapper {
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
    line-height: 1.6;
    margin-bottom:4em;
}

#content-wrapper h1, h2, h3, h4, h5 {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

#content-wrapper blockquote p {
  font-style: italic;
}

#content-wrapper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
