* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #1b1c1e;
  color: #d2d2d2;
}

html {
  letter-spacing: .06em;
  line-height: 1.7;
}

/* Must be loaded before everything else */
@import "fonts";
@import "content_wrapper";
@import "header";
@import "menu";
@import "footer";
@import "responsive_images";
@import "logo";
@import "container";
@import "posts/post_metadata";
@import "posts/post_content";
@import "postlist";