* {
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #1b1c1e;
  color: #d2d2d2;
  -webkit-font-smoothing: antialiased;
  min-height: 97vh;
  font-weight: normal;
  animation: fadeIn .36s;
}

@keyframes fadeIn {
  0% {opacity: 0}
  20% {opacity: 0}
  100% {opacity: 1}
}
@-moz-keyframes fadeIn {
  0% {opacity: 0}
  20% {opacity: 0}
  100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  20% {opacity: 0}
  100% {opacity: 1}
}
@-o-keyframes fadeIn {
  0% {opacity: 0}
  20% {opacity: 0}
  100% {opacity: 1}
}
@-ms-keyframes fadeIn {
  0% {opacity: 0}
  20% {opacity: 0}
  100% {opacity: 1}
}

html {
  letter-spacing: .05em;
  line-height: 1.4;
}

table, th, td {
  border: 1px solid;
}

@media only screen and (min-width: 850px) {
  body { font-size: 1.25em }
  html { line-height: 1.45 }
}

@media only screen and (max-width: 850px) {
  body {
    font-size: 1.3em;
    overflow-wrap: break-word;
  }
  .logo_text {
    display: none;
  }
}

/* Must be loaded before everything else */
@import "fonts";
@import "content_wrapper";
@import "header";
@import "menu";
@import "footer";
@import "responsive_images";
@import "logo";
@import "container";
@import "posts/post_metadata";
@import "posts/post_content";
@import "postlist";


// inspi: https://simondalvai.org/blog/solo-gamedev-blog/
