<!DOCTYPE html>
<html lang="en">
  {{ partial "head" . }}
  <body>
    <!--  Menu navigation  -->
    <div class="container">
      {{ partial "header/header.html" . }}
      <div id="content_wrapper">
        <!-- Code that all your templates share, like a header -->
        {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
        {{ end }}
      </div>
      <!--  Footer  -->
      {{ block "footer" . }}
      {{ end }}
    </div>
    {{ if .Store.Get "hasMermaid" }}
      <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ startOnLoad: true });
      </script>
    {{ end }}
  </body>
</html>