<!DOCTYPE html>
<html lang="en">  
  <body>
    {{ partial "head" . }}
    <!--  Menu navigation  -->
    <div class="container">
      {{ partial "header/header.html" . }}
      <div id="content_wrapper">
        <!-- Code that all your templates share, like a header -->
        {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->  
        {{ end }}
      </div>
      <!--  Footer  -->
      {{ block "footer" . }}
      {{ end }}
    </div>
  </body>
</html>