<!DOCTYPE html>
<html>  
  <body>
    {{ partial "head" . }}
    <!--  Menu navigation  -->
    {{ partial "header/header.html" . }}
    
    <div id="content-wrapper">
      <!-- Code that all your templates share, like a header -->
      {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->  
      {{ end }}
      {{ block "latest_work" .}}
      {{ end }}
      <!--  Footer  -->
      {{ block "footer" . }}
      {{ end }}
    </div>
  </body>
</html>