{{ define "main" }}
<div class="list">
{{ range first 10 .Pages }}
    <article>
      <!-- this <div> includes the title summary -->
      <div>
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        {{ .Summary }}
      </div>
      {{ if .Truncated }}
      <!-- This <div> includes a read more link, but only if the summary is truncated... -->
      <div>
        <a href="{{ .RelPermalink }}" id="read_more">Read More…</a>
      </div>
      <br/>
      <br/>
      {{ end }}
    </article>
{{ end }}
</div>
{{ end }}