{{ define "main" }}
<div class="list">
  {{ range .Pages.GroupByDate "2006" }}
  <h1 class="yearlist">{{ .Key }}</h1>

    {{ range .Pages }}
    <div class="postlist">
      <a href="{{ .RelPermalink }}" aria-label="{{ .Summary }}" >{{ .Title }}</a><br/>
      <div class="meta">{{ .Date.Format "02-01-2006" }}</div>
       {{ .Summary }}
      {{ if .Truncated }}
      <!-- This <div> includes a read more link, but only if the summary is truncated... -->
      <div>
        <a href="{{ .RelPermalink }}" id="read_more">Read More…</a>
      </div>
      {{ end }}  
      <br/>
      <br/>
    </div>
    {{ end }}

{{ end }}
</div>
{{ end }}