{{ define "main" }}

<section id="main">
  <h1 id="title">{{ .Title }}</h1>
  <div>
    <section class="postmetadata">
        <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4> 
        <div class="readingmetadata">
        <h5 id="wordcount"> {{ .WordCount }} Words</h5> 
        <h5 id="readingtime"> Reading time: <span>{{ .ReadingTime }} {{ "minute" | pluralize }}</span> </h5>
        </div>
    </section>
    <article id="content">
      {{ .Content }}
    </article>
  </div>
</section>

<aside>
  <div class="postmetadata_footer">
    {{ with .PrevInSection }}
    <span> Previous: <a class="previous" href="{{ .Permalink }}"> {{ .Title }}</a></span>
    {{ end }}
    {{ with .NextInSection }}
    <span> Next: <a class="next" href="{{ .Permalink }}"> {{ .Title }} </a></span>
    {{ end }}
  </div>
</aside>
{{ end }}