<head>
    <title>{{ .Params.title }} | {{ .Site.Title }} </title>
    {{ partial "head/style" . }}
    {{/*  PrismJS styles  */}}
    {{/*  <link rel="stylesheet" href="css/prism.css" />
    <script src='/js/prism.js'></script>  */}}

    {{ partial "head/meta" . }}
    <link rel='canonical' href='{{ .Permalink }}' />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    {{- template "_internal/google_analytics.html" . -}}
    {{- template "_internal/google_analytics_async.html" . -}}
    {{ partial "head/rss" . }}
</head>