<header class="header">
    <span class="header_inner">
        {{/*  This first part will be the logo with a simple animation  */}}
        <div class="logo">
            <span class="logo_text">
                <a href="{{ .Site.BaseURL }}" style="text-decoration: none;">{{ site.Params.prompt }}</a>
            </span>
            <span class="logo_cursor"></span>
        </div>
        {{/*  Menu on the right top  */}}
        <span class="header_right">
            {{ partial "menu/menu.html" . }}
        </span>
    </span>
</header>