#content {
    text-align: left;
    font-size: 1.15em;
}

// Header sizes
#content h1,h2,h3,h4,h5,h6 {
    margin: initial;
    text-decoration: underline;
}
#content h1 {
    font-size: 3em;
}
#content h2 {
    font-size: 2.05em;
}
#content h3 {
    font-size: 1.70em;
}
#content h4 {
    font-size: 1.2em;
}
#content h5 {
    font-size: 1.20em;
}
#content h6 {
    font-size: 1.05em;
}

// Center images
#content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}